NOTION_TOKEN=your_notion_integration_token_here
NOTION_PAGE_ID=your_notion_page_id_for_graph_embed
NOTION_DBS_IDS=db_id_1,db_id_2,db_id_3

SQL_SERVER=YOUR_SERVER_NAME\SQLEXPRESS
SQL_DATABASE=StudyNotesDB

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION_NAME=ap-northeast-1
AWS_BUCKET_NAME=study-graphs-2025
